<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <extensions>
    <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
  </extensions>
  
  <targets>
    <target name="asyncAzureBlob" xsi:type="AsyncWrapper" overflowAction="Grow" queueLimit="200000" batchSize="1000" timeToSleepBetweenBatches="0">
      <target type="AzureBlobStorage"
            name="azureBlob"
            layout="${longdate:universalTime=true}|${level}|${logger}|${message}|${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=1000}"
            connectionStringKey="LogStorageConnectionString"
            container="${appsetting:name=LogContainerName}"
            blobName="${date:universalTime=true:format=yyyy-MM}/${date:universalTime=true:format=dd}/${date:universalTime=true:format=HH}.log" />
    </target>
    <target name="asyncAiTarget" xsi:type="AsyncWrapper" overflowAction="Block" queueLimit="200000" batchSize="1000" timeToSleepBetweenBatches="0">
      <target type="ApplicationInsightsTarget" name="aiTarget" />
    </target>
    <target name="asyncTrace" xsi:type="AsyncWrapper" overflowAction="Block" queueLimit="200000" batchSize="1000" timeToSleepBetweenBatches="0">
      <target xsi:type="Trace" name="trace" />
    </target>
    <target name="asyncViewer" xsi:type="AsyncWrapper" overflowAction="Block" queueLimit="200000" batchSize="1000" timeToSleepBetweenBatches="0">
      <target xsi:type="Chainsaw" name="viewer" address="${appsetting:name=LogTargetAddress}">
        <parameter name="exception" layout="${exception:format=Type,Message,StackTrace:separator=&#13;&#10;}" />
      </target>
    </target>
    <target name="asyncFile" xsi:type="AsyncWrapper" overflowAction="Block" queueLimit="200000" batchSize="1000" timeToSleepBetweenBatches="0">
      <target name="file" xsi:type="File" fileName="c:\temp\blockbonds.logfiles\BlockbondsApi.log" concurrentWrites="true"
            archiveAboveSize="3145728" autoFlush="true" archiveNumbering="Sequence" maxArchiveFiles="10" createDirs="true" />
    </target>
    <target name="asyncDatabase" xsi:type="AsyncWrapper" overflowAction="Block" queueLimit="200000" batchSize="1000" timeToSleepBetweenBatches="0">
      <target name="database" xsi:type="Database"
            commandText="insert into dbo.LogEntry (Date, Exception, Level, Logger, MachineName, Message, StackTrace, Thread, Username)
					               values (@Date, @Exception, @Level, @Logger, @MachineName, @Message, @StackTrace, @Thread, @Username)"
            connectionStringName="Bb_Monitoring">
        <parameter name="@Date" layout="${date}" />
        <parameter name="@Exception" layout="${exception:tostring}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Logger" layout="${logger}" />
        <parameter name="@MachineName" layout="${machinename}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@StackTrace" layout="${stacktrace}" />
        <parameter name="@Thread" layout="${threadid}" />
        <parameter name="@Username" layout="${windows-identity}" />
      </target>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="asyncAzureBlob" />
    <logger name="*" minlevel="Trace" writeTo="asyncTrace" />
    <logger name="*" minlevel="Trace" writeTo="asyncAiTarget" />
    <logger name="*" minlevel="Error" writeTo="asyncDatabase"/>
    <!--below loggers will be enabled when IsDevelopmentMachine is true, that is set from Startup-->
    <!--<logger name="*" minlevel="Trace" writeTo="asyncViewer" />
    <logger name="*" minlevel="Debug" writeTo="asyncFile" />-->
  </rules>
</nlog>